services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/var/www/html
    environment:
      APP_ENV: local
      APP_URL: http://localhost
    command: >
      sh -c "
      php artisan key:generate --force &&
      php-fpm
      "
