version: "3.9"

services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    command: >
      sh -c "
      php artisan key:generate --force &&
      php artisan migrate --force || true &&
      php-fpm
      "
    volumes:
      - ./src:/var/www/html
